<div class="container-fluid">

	<div class="row">
		<div class="col-xs-12 text-right">
			<a ui-sref="^.main"><button type="button" class="btn btn-primary"><i class="fa fa-level-up"></i></button></a>
			<br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 text-center">
			<b><span class="h1">{{settings.currentSeason}}</span></b><br/>
			Aktuelle Saison
		</div>
		<div class="col-xs-2 text-left">
			<button class="btn btn-primary" ng-click="startNewSeason()">Neue Saison<br>starten</button>
		</div>
	<div>
	
</div>