<div class="container-fluid">

	<div class="row-fluid">
		<div class="col-xs-12 col-lg-offset-4 col-lg-4">
			<label for="user">Benutzer</label>
			<select id="user" class="form-control login-user" ng-change="checkLoginInfo()" ng-model="user" ng-disabled="!players.length || blocked" ng-options="p as p.name for p in (players | active | orderBy: 'name')">
				<option value="">-- ausw&auml;hlen --</option>
			</select>
		</div>
	</div>

	<div class="row-fluid">
		<div class="col-xs-12 col-lg-offset-4 col-lg-4 text-center login-leds">
			<span ng-repeat="cl in codeLeds">
				<i class="fa fa-3x"
					ng-class="{'fa-circle-o': !cl.on, 'fa-circle': cl.on, 'text-primary': colorLed == 'default', 'text-success': colorLed == 'green', 'text-danger': colorLed == 'red'}"></i>
			</span>
		</div>
	</div>

	<div class="row-fluid">
		<div class="text-center keypad">
			<button type="button" class="btn btn-primary" ng-repeat="key in keys" ng-bind-html="key.label" ng-disabled="(user === null) || blocked" ng-click="onKeyClick(key.code)"></button>
		</div>
	</div>

</div>
