<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-sd-6 col-md-6 bg-primary">
			<div class="form-group" ng-class="{'has-error': invalidPlayer[0]}">
				<br/>
				<i class="fa fa-bolt"></i> <label class="control-label" for="f1">Angreifer 1</label>
				<select ng-change="validateForm(false)" ng-model="selectedPlayer[0]" ng-disabled="!players.length" ng-options="p as p.name for p in (players | active | orderBy: 'name')" class="form-control" id="f1">
					<option value="">-- ausw&auml;hlen --</option>
				</select>
			</div>
			<div class="form-group" ng-class="{'has-error': invalidPlayer[1]}">
				<i class="fa fa-shield"></i> <label class="control-label" for="b1">Verteidiger 1</label>
				<select ng-change="validateForm(false)" ng-model="selectedPlayer[1]" ng-disabled="!players.length" ng-options="p as p.name for p in (players | active | orderBy: 'name')" class="form-control" id="b1">
					<option value="">-- ausw&auml;hlen --</option>
				</select>
			</div>
			<div class="form-group text-center">
				<button type="button" ng-disabled="goals[0]>=settings.maxGoals" ng-click="goals[0]=goals[0]+1;validateForm(false)" class="btn btn-default btn-lg"><i class="fa fa-chevron-up"></i></button>
			</div>
			<div class="form-group text-center"><h2 ng-class="{'text-danger': invalidGoals}">{{goals[0]}}</h2></div>
			<div class="form-group text-center">
				<button type="button" ng-disabled="goals[0]<=0" ng-click="goals[0]=goals[0]-1;validateForm(false)" class="btn btn-default btn-lg"><i class="fa fa-chevron-down"></i></button>
			</div>
		</div>
		<div class="col-xs-6 col-sd-6 col-md-6">
			<div class="form-group" ng-class="{'has-error': invalidPlayer[2]}">
				<br/>
				<i class="fa fa-bolt"></i> <label class="control-label" for="f2">Angreifer 2</label>
				<select ng-change="validateForm(false)" ng-model="selectedPlayer[2]" ng-disabled="!players.length" ng-options="p as p.name for p in (players | active | orderBy: 'name')" class="form-control" id="f2">
					<option value="">-- ausw&auml;hlen --</option>
				</select>

			</div>
			<div class="form-group" ng-class="{'has-error': invalidPlayer[3]}">
				<i class="fa fa-shield"></i> <label class="control-label" for="b2">Verteidiger 2</label>
				<select ng-change="validateForm(false)" ng-model="selectedPlayer[3]" ng-disabled="!players.length" ng-options="p as p.name for p in (players | active | orderBy: 'name')" class="form-control" id="b2">				
					<option value="">-- ausw&auml;hlen --</option>
				</select>

			</div>
			<div class="form-group">
			<div class="form-group text-center">
				<button type="button" ng-disabled="goals[1]>=settings.maxGoals" ng-click="goals[1]=goals[1]+1;validateForm(false)" class="btn btn-default btn-lg btn-primary"><i class="fa fa-chevron-up"></i></button>
			</div>
			<div class="form-group text-center"><h2 ng-class="{'text-danger': invalidGoals}">{{goals[1]}}</h2></div>
			<div class="form-group text-center">
				<button type="button" ng-disabled="goals[1]<=0" ng-click="goals[1]=goals[1]-1;validateForm(false)" class="btn btn-default btn-lg btn-primary"><i class="fa fa-chevron-down"></i></button>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sd-12 col-md-12">
			<div class="form-group text-right">
				<button class="btn btn-danger" ng-click="submitForm()" ng-disabled="submitting">Spiel eintragen</button>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">

	<!-- list mode selection-->
	<div class="row">
		<div class="form-group text-center">
			<div class="btn-group">
				<label class="btn btn-primary" ng-repeat="l in listModes" ng-change="onChangeListMode()" ng-model="currentListMode.item" ng-bind-html="l.label" btn-radio="l"></label>
				<label class="btn btn-primary" ng-click="loadData()"><i class="fa fa-refresh"></i></label>
			</div>
		</div>
	</div>

	<km-loading ng-if="!currentListMode.item.data.$resolved"></km-loading>
	
	<!-- match results table -->
	<div class="row" ng-if="currentListMode.item.type == 'results' && currentListMode.item.data.$resolved">
		<table class="table table-striped table-condensed">
			<tr>
				<th>Datum</th>
				<th>Team1</th>
				<th class="text-center">Ergebnis</th>
				<th>Team2</th>
			</tr>
			<tr ng-repeat="d in currentListMode.item.data | orderBy: '-timestamp'">
				<td>{{d.timestamp}}</td>
				<td>{{players[d.f1].name}}<br>{{players[d.b1].name}}</td>
				<td class="text-center"><strong>{{d.goals1}} : {{d.goals2}}</strong>
					<p>
						<i class="fa" ng-class="{'won fa-caret-up': d.deltaelo > 0, 'lost fa-caret-down': d.deltaelo < 0}"></i>
						{{d.deltaelo | abs | float: 1}}
						<i class="fa" ng-class="{'lost fa-caret-down': d.deltaelo > 0, 'won fa-caret-up': d.deltaelo < 0}"></i>
					</p>
				</td>
				<td>{{players[d.f2].name}}<br>{{players[d.b2].name}}</td>
			</tr>
		</table>
	</div>

	<!-- statistics table -->
	<div class="row" ng-if="currentListMode.item.type == 'stats' && currentListMode.item.data.$resolved">
		<table class="table table-striped table-condensed">
			<tr>
				<th>#</th>
				<th>Spieler</th>
				<th style="min-width:20%" class="text-right">ELO</th>
				<th>&nbsp;</th>
				<th style="min-width:10%" class="text-center">Quote</th>
				<th style="min-width:10%" class="text-center">Spiele</th>
			</tr>
			<tr ng-repeat="d in currentListMode.item.data | orderBy: '-deltaelo'" ng-class="{highlight: isCurrentUserId(players[d.id].id)}">
				<td>{{$index + 1}}</td>
				<td>{{players[d.id].name}}</td>
				<td class='text-right'>{{d.deltaelo | float: 1}}</td>
				<td><i class="fa" ng-class="{'lost fa-caret-down': d.deltaelo < 0, 'won fa-caret-up': d.deltaelo > 0}"></i></td>
				<td class="text-center">{{d.wins / d.total | percent: 1}}</td>
				<td class="text-center">{{d.total}}</td>
			</tr>
		</table>
	</div>

	<br>
</div>