<table class="table table-striped table-condensed">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>ELO</th>
		<th>Quote</th>
		<th>Tore</th>
	</tr>
	<tr
		ng-repeat="r in ranking | filter: hasPlayed | orderBy: '-elo'"
		ng-class="{inactive: r.total < 10}">
		<td ng-style="style(r.name)">{{$index + 1}}</td>
		<td ng-style="style(r.name)"><a href="#/player/{{r.id}}" class="media-object">{{r.name}}</a></td>
		<td ng-style="style(r.name)">{{r.elo | float: 1}}</td>
		<td ng-style="style(r.name)">{{r.winrate | percent: 1}}</td>
		<td ng-style="style(r.name)">{{r.goaldiff}}</td>
	</tr>
</table>