<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5 col-sd-5 col-md-5">
			<select ng-model="player1" ng-disabled="!players.length" ng-options="p.id as p.name for p in players" class="form-control" id="p1">
				<option value="">-- ausw&auml;hlen --</option>
			</select>
		</div>
		<div class="col-xs-5 col-sd-5 col-md-5">
			<select ng-model="player2" ng-disabled="!players.length" ng-options="p.id as p.name for p in players" class="form-control" id="p2">
				<option value="">-- ausw&auml;hlen --</option>
			</select>
		</div>
		<div class="col-xs-2 col-sd-2 col-md-2">
			<button type="button" class="btn btn-primary" ng-click="loadData()">Go!</button>
		</div>
	</div>
</div>
 <div class="container-fluid">
 	<br/>
	<highchart ng-show="chartConfig.series.length > 0" id="chart1" config="chartConfig"></highchart>
 </div>