.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

table tr.inactive { color: #b4bac0 }
table tr.inactive a { color: #b4bac0 !important}

.goals {
	width: 64px;
	height: 64px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	position: relative;
	line-height: 64px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
	background-image: -webkit-linear-gradient(top, #444, #111);
	background-image: -moz-linear-gradient(top, #444, #111);
	background-image: -ms-linear-gradient(top, #444, #111);
	background-image: -o-linear-gradient(top, #444, #111);
	background-image: linear-gradient(top, #444, #111);
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.won {
	color: green;
}

.lost {
	color: red;
}


body { padding-top: 50px; }

.table-striped tbody tr.highlight td {
    background-color: Khaki;
}

.table-striped tbody tr.match_won td {
    background-color: #C0F0A0;
}

.table-striped tbody tr.match_lost td {
    background-color: #F0C0C0;
}

.keypad {
	width: 220px;
	margin: auto;
}

.keypad button {
	margin: 4px;
	width: 60px;
	height: 60px;
	font-size: 23px;
	line-height: 1.33;
	border-radius: 6px;
	font-weight: bold;
	text-align: center;
}
.login-user {
	max-width: 220px;
	margin: auto auto 10px;
}

.login-leds {
	margin-bottom: 10px;
}

.data-loading {
  opacity: 0.5
}

.data-loading-add {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 1 !important;
}

.data-loading-add-active {
	opacity: 0.5 !important;
}

.data-loading-remove {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 0.5 !important;
}

.data-loading-remove-active {
	opacity: 1 !important
}

#fountainG{
position:relative;
width:100px;
height:12px}

.fountainG{
position:absolute;
top:0;
background-color:#406680;
width:13px;
height:13px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:8px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:8px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:8px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:8px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:8px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fountainG_2{
left:13px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fountainG_3{
left:25px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#fountainG_4{
left:38px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#fountainG_5{
left:50px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#fountainG_6{
left:63px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#fountainG_7{
left:75px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#fountainG_8{
left:88px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#406680;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#406680;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#406680;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#406680;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#406680;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}
